.table_header {
  border-bottom: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  font-weight: bold;
  display: grid;
  grid-template-columns: 0.1fr 0.2fr 0.8fr 1fr 1fr 1fr;
  text-transform: uppercase;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.75rem;
  background-color: #E7EBF0;
}

.table_row {
  border-bottom: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  display: grid;
  align-items: center;
  grid-template-columns: 0.1fr 0.2fr 0.8fr 1fr 1fr 1fr;
}

.table_container {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
  border-radius: 5px;
}

.table_cell {
  padding: 0 16px;
  text-align: left;
  height: 67px;
  line-height: 67px;
  min-width: 66px;
}

.table_cell_begin_rt {
  padding: 0 16px;
  text-align: right;
  height: 67px;
  line-height: 67px;
  min-width: 66px;
}
